@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
//Typography
//Font Family for Sans Serif
$font-family-sans-serif: "Lato",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
//Responsive Font Sizes
$enable-responsive-font-sizes: true;
//Color Modifications
$primary: #172B4D;
$theme-colors: ("theme-primary": #0747A6);
@import "./node_modules/bootstrap/scss/bootstrap";